mock
pytest
coverage

# For setuptools integration
# More details on http://pytest.org/latest/goodpractices.html#integrating-with-setuptools-python-setup-py-test-pytest-runner
pytest-runner
pytest-pythonpath